.App {
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.App-footer {
  background-color: #000000;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding:0% 5%;
  
}
.App-tag {
  background-color: #000000;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  padding: 0 20px;
}

.App-link {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-carousel {
  background-color: rgb(0, 0, 0);
  height: 4vh;
  width: 200%;
  border-bottom:2px solid #ffffff;
  overflow: hidden;
  position: relative;
  justify-content: space-evenly;
}
.App-carousel-inner {
  height: 4vh;
  width: 200%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  flex-wrap: wrap;
  position: absolute;
  left:0;
  animation: scroll 60s linear infinite;
  background: #abbaab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #abbaab, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #abbaab, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@keyframes scroll {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.App-carousel-item {
  width: fit-content;
  justify-content: center;
  margin: 0 20px;
  align-items: flex-start;
  font-family:monospace !important;
  font-weight: 600;
  color:black;
}


.Card-container {
  background-color: rgb(214, 214, 214);
  width: 100%;
  margin: 2% 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding:1% 1%;
  border: 1px solid white;
  
}
.Card-box {
  min-width: 300px;
  max-width: 450px;
  flex-basis: auto; 
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 15px;
  text-align: center;
  padding: 2% ;
  background-color: #282c34;
  margin: 2% 2%;
  box-shadow: 1px 8px 8px -2px rgb(59, 59, 59);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  
}
.Card-box:hover {
  transform: scale(1.1); 
}

.Card-title {
  width: 100%;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5%;
}
.Card-desc {
  width: 100%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  text-align: left;
  margin-bottom: 5%;

}
.Card-btn {
  margin-left: 50%;
  width: fit-content;
  background-color: rgb(37, 148, 253);
  border-radius: 5px;
  border: 1px solid rgb(252, 252, 252);
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  color:white;
  font-family: inherit;
  transition: background-color 1s ease-out;
}
.Card-btn:hover {
  background-color: #3cd8a9;
  cursor: pointer;
}

.Section-title {
  background-image: linear-gradient(45deg, #78f397, #e4da56);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: calc(50px + 2vmin);
  font-weight: 700;
  margin-top: 2%;
  margin-right: 70%;
  margin: 4% 80% 0% 10%;

}

.awssld__bullets {

  background-color: black;
  padding: 7px 0;
  box-shadow:0px 8px 8px -6px rgb(209, 206, 206);
}